body {
    margin:0;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #f5f5f5;
    line-height: 1.6;
}

*,
*:before
*:after {
box-sizing: border-box;
}

/* container*/
.container {
    width: 100%;
    max-width: 90%; /*максимальная ширина до краев экрана*/
    margin: 0 auto; /*выравнять по центру если есть такая опция как выше*/
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70vh; /* vh-1% относительно окна браузера*/
    background:
    url(../images/head.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    /*width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;*/ /*Выравниваем все заголовки и кнопку по центру если отдельно,
    то прям там и прописываем это, а тут убираем*/
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__title {
    font-family: 'Moria Citadel', sans-serif;
    font-size: 100px;
    text-transform: uppercase; /*все большими буквами*/
    line-height: 1;
    color: #dc9867;
}

.intro__subtitle {
    font-size: 72px;
    color: #ffffff;
}

/*header*/
.header {
    width: 100%;
    padding-top: 15px; /*отступ внутри от верхнего края*/
    position: fixed; /*фиксированная позиция шапки можно менять на fixed*/
    top: 0; /*задаем позицию абсолютную путем сторон.  также top нужен если приклеиваем к верху*/
    left: 0; /*0 значит что у края браузера*/
    right: 0;
    z-index: 1000; /*закидывание поверх всего на чем оню также нужно чтоб приклейка была выше остального*/
    background:
    url(../images/header.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header_inner {
    display: flex; /* вместе в одну строчку элементы, включаем  flexbox */
    justify-content: space-between; /* отодвигает элементы друг от друга в края */
    align-items: center; /* выровнять  относительно горизонтальной линии центра элементов
    по вертикали. В данном случае по центру */
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    display: inline-block; /*в блоке*/
    vertical-align: top;
    margin: 10px;
    color: #f5f5f5;
    text-decoration: none;
    transition: color .2s linear;
}

.header__logo:hover {
    color: #9147ff;  /*при наведении мыши меняем цвет*/
}

/*nav*/
.nav {
font-size: 14px;
text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 10px; /*отступ по всем фронтам снаружи элемента*/
    color: #f5f5f5;
    text-decoration: none;
    transition: color .2s linear;
}

.nav__link:hover {
    color: #4682b4;  
}

/* Button */
.btn__inner {
    text-align: center;
}
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    
    border: 3px solid #34404f;
    border-radius: 3px;
    
    font-size: 14px;
    font-weight: 700;
    color: #b4d7f4;
    background:linear-gradient(to right, #3ca1f0, #2461d0);
    text-transform: uppercase;
    text-decoration: none; /* убрать подчеркивание ссылки*/
    
    transition: color .2s linear; /*смена цвета текста с задержкой в 0.2с*/
}

.btn:hover {
background:linear-gradient(to right, #47bfff, #3387e3);  /*смена фона при наведении мыши по градиенту*/
color: #ebf6fc; /*смена цвета текста при наведении мыши */
}

/* Section */
.section {
    padding: 10px 0;  /*отступ всей секции. первая цифра верх вниз, вторая лево.право */
}

.section__header {
    width: 100%;
    max-width: 950px; /*макс ширина*/
    margin: 0 auto 40px; /* отступ от блочного элемента заголовков до другого. если 3 то сверху/горизонтально/снизу
    если два, то верт/гориз, если 1 то всем,
    если 4 то сверху | справа | снизу | слева, если 0 то нету, если auto то авто. можно margin-bottom спецом для низа */
    
    text-align:center;
 
}

.section__title {
    font-size: 28px;
    color:#194a66;
    text-decoration: none;
    font-weight: 700;
}

.section__image {
    margin-left: 10px;
}

/* about */
.about {
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 100px; /* блок под картинкой и его ширина соответств. картинке*/
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0); /* переезд на 10 пикселей по xyz */
}

.about__item:hover .about__img img {
    opacity: .6; /* прозрачность картинки делаем новый тег для блока с картинкой */
}

.about__img {
    background: linear-gradient(to bottom, #4682b4, #b4d7f4 ); /*градиент цветового блока под картинкой */
    
    transition: transform .2s linear; /* плавность переезда */
}

.about__img img {
    display: block;
    width: 100px;
    height: 70px;
    transition: opacity .1s linear;  /* плавность прозрачности*/
}